* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    
}
body{
    background-color: 	#e5eff5;
}
section {
    width: 34vw;
    height: 25vh;
    background-color: white;
    margin: 200px 0px 0px 500px;
    border-radius: 10px 10px 0px 0px;
}
#green {
    display: flex;
    margin: 0px 0px 0px 500px;
}
#price {
    display: flex;
    align-items: center;
}
#box-left {
    background-color:	#2ab2af;
    width: 17vw;
    height: 28vh;
    border-radius: 0px 0px 0px 10px;
}
#box-right {
    background-color: #3fb8b7;
    width: 17vw;
    height: 28vh;
    border-radius: 0px 0px 10px 0px;
}
#text-1 {
    color: #2ab2af;
    margin: 30px 0px 0px 40px;
    padding-top: 40px ;
    font-size: 20px;
}
#text-2 {
    color: 	#c0df34;
    margin: 0px 40px;
    font-size: 15px;
}
#text-3 {
    color: #98a6bd;
    width: 450px;
    margin: 10px 0px 0px 40px;
    line-height: 2;
    font-size: 13px;
}
.text-4, .text-5 {
    color: 	#e5eff5;
}

#text-5 {
    font-size: 15px;
    margin: 30px 0px 0px 30px;
}

#text-6 {
    font-size: 25px;
    margin: 20px 0px 0px 30px;
}

#text-7 {
    font-size: 12px;
    opacity: 0.5;
    margin: 20px 0px 0px 10px;
}

#text-8 {
    font-size: 12px;
    margin: 10px 0px 0px 30px;
}


button {
    background-color:  #c0df34;
    border: none;
    width: 200px;
    height: 35px;
    margin: 20px 0px 0px 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    
}

.text-5 {
    font-size: 12px;
    line-height: 1.4;
    margin: 00px 0px 0px 30px;
}

#text-10 {
    font-size: 16px;
    margin: 30px 0px 15px 30px;

}

.text-5 {
    opacity: 0.7;
    font-size: 11px;
    line-height: 1.7;
}